h1 Users List

a(href="/") Home
a(href="/users/create") New

form(action="/users/search" , method="GET")
    input(type="text" , name="q" , value=keyWord)
    button Search

ul  
    each user in users 
        li= user.name   