html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/product.css")
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light ")
            img(src="/images/logo-coder-tokyo.png", alt="logo" , width="45", height="45" , class="d-inline-block align-top")
            button(class="navbar-toggler" , type="button" , data-toggle="collapse" , data-target="#navbarNav" , aria-controls="navbarNav" , aria-expanded="false" , aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            
            div(class="collapse navbar-collapse" id="navbarNav")
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        a(class="nav-link" , href="/") Home 
                        span(class="sr-only")(current)
                   
                    li(class="nav-item")
                        a(class="nav-link" , href="/users") Users

            if user
                p Hello 
                p &nbsp
                p= user.name
        
        .container.pt-5 
            block content