extends ../layout/common.pug 

block content
    h1 Products

                            
    .d-flex.align-items-center   
        form.ml-auto(action="/products/search" , method="GET" , class="d-flex")
            input(class="form-control" , type="text" , name="q" , value=keyWord)
            button(class="btn btn-primary ml-2") Search

    .row
        each product in products
            .col-sm-6.col-md-4.col-lg-3
                .card.mb-3
                    img.card-img-top(src=product.image, alt='Card image cap')
                    .card-body
                        h5.card-title= product.name
                        p.card-text= product.description
                        a.btn.btn-primary(href='/cart/add' + product.id) Add to card
    
    //- .row.mt-5
    //-     .row-md-4.m-auto
    //-         ul.pagination
    //-             each totalPage in totalPages
    //-                 if(totalPage === "Last")
    //-                     li.page-item
    //-                         a.page-link(href="/products" ? "?page="+ lastPage : "")= totalPage
    //-                 if(totalPage!="Last"&&totalPage!="First"&&totalPage!="Next"&&totalPage!="Prev")
    //-                     li.page-item
    //-                         a.page-link(href="/products" ? "?page="+ totalPage : "")= totalPage
    //-                 if(totalPage === "First")
    //-                     li.page-item
    //-                         a.page-link(href="/products" ? "?page="+ 1 : "")= totalPage
    //-                 if(totalPage === "Next")
    //-                     li.page-item
    //-                         a.page-link(href="/products" ? "?page="+ (page + 1) : "")= totalPage
    //-                 if(totalPage === "Prev")
    //-                     li.page-item
    //-                         a.page-link(href="/products" ? "?page="+ (page - 1) :"")= totalPage